/*GENERAL*/
html,body{  
  font-size: 18px;
  line-height: 1.5;
}

/*MAIN HEADER*/
h1{
  background-color:#4F6E4A;
  color: #fff;
  text-align: center;
}
#recipe-navigation{
  background-color: lightgreen;
  width: 50%;
}

/*ARTICLE*/
article{
  margin-left: 40px;
}
img{
  width: 400px;
}

/*FOOTER*/
footer{
  background-color: #4F6E4A;
  color: #fff;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}
