h1{
background-color:#4F6E4A;
color: #fff;
text-align: center;
}

#recipe-navigation{
background-color: lightgreen;
width: 50%;
}

article{
margin-left: 40px;
}

img{
  width: 75%
}

footer{
  background-color: #4F6E4A;
  color: #fff;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}
