<!DOCTYPE html>
<html lang="en">

<head>  
  <meta charset="UTF-8">
  <title>Layout</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
    </ul>
  </nav>
  <section>
    <p>Some text</p>
  </section>
  <section>
    <p>Some text</p>
  </section>
  <section>
    <p>Some text</p>
  </section>
  <aside>
    <p>I'm fixed</p>
  </aside>
</body>

</html>
