/*FLEX CONTAINER*/
.container {
  display: flex;
  height: 60vh;
}

/*BOXES*/
/*large*/
.box {
  width: 33.33%;
  height: 60vh;
}
.box-1 {
  background-color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-2 {
  background-color: coral;
}
.box-3 {
  background-color: skyblue;
}
/*min*/
.box-min {
  width: 50%;
  height: 10vh;
}
.min-1 {
  background-color: white;
}
.min-2 {
  background-color: black;
}
section {
  width: 66.7%;
  background-color: lightgray;
}
header,
footer {
  height: 30vh;
}
footer {
  background-color: chocolate;
  margin-top: 10px;
}
header {
  background-color: chocolate;
  margin-bottom: 10px;
}
