$primary-color: #000000;
$ff: sans-serif;

menu{
  display: flex;
  justify-content: center;  
  visibility: visible;
  opacity: 1;
  transition: 0.6s;
  a{ 
    transform: rotate(360deg);
    color: $primary-color;
    text-decoration: none;
    padding: 20px;
  }
  button{
    background-color: transparent;
    border: none;
    position: relative;
    top: -5px;
    height: 20px;
  }  
}
#menu{
    border: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: lightgray;
    box-shadow: 10px 10px 20px black;
    width: 100px;    
    height: 100px;  
    padding: 10px;
    transition: 0.6s;    
  }
  .line{
    background-color: black;
    width: 60px;
    height: 5px;   
    margin: 10px auto; 
    transition: 0.6s;
  }

#menu:hover{
  background-color: coral;  
  transform: rotate(360deg)
}
#menu:hover .line{
  background-color: white;
 
}
.invisible{
  visibility: hidden;
  opacity: 0;
}
  
